Repository davnn/nearness: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black

.pre-commit-config.yaml:

default_language_version:
    python: python3.10

default_stages: [ commit, push ]

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.3.0
        hooks:
            -   id: check-toml
            -   id: check-yaml
            -   id: check-json
            -   id: debug-statements
            -   id: trailing-whitespace
            -   id: check-added-large-files
            -   id: check-merge-conflict
            -   id: fix-byte-order-marker
            -   id: name-tests-test
                args: [ --pytest-test-first ]
                exclude: ^tests/utilities
            -   id: end-of-file-fixer
            -   id: no-commit-to-branch

    -   repo: local
        hooks:
            -   id: ruff
                name: ruff
                entry: ruff check
                types: [ python ]
                language: system
                exclude: (^tests|^.github)

    -   repo: local
        hooks:
            -   id: black
                name: black
                entry: black --config pyproject.toml
                types: [ python ]
                language: system

unified saving and loading
  README.md
  Taskfile.yml
  assets/nearness.png
  src/nearness/__init__.py
  src/nearness/_annoy.py
  src/nearness/_base/__init__.py
  src/nearness/_base/_config.py
  src/nearness/_base/_experimental.py
  src/nearness/_base/_neighbors.py
  src/nearness/_config.py
  src/nearness/_faiss.py
  src/nearness/_hnsw.py
  src/nearness/_scann.py
  tests/test_benchmark.py
  tests/test_nearness.py
Due: ruff, black

add autofaiss
  assets/coverage.svg
  poetry.lock
  pyproject.toml
  src/nearness/__init__.py
  src/nearness/_autofaiss.py
  src/nearness/_base/__init__.py
  src/nearness/_base/_neighbors.py
  tests/test_benchmark.py
  tests/test_nearness.py
Due: ruff, black

fix annoy saving and loading tests
  src/nearness/_annoy.py
  tests/test_nearness.py
Due: ruff, black

🚀 Unified save and load using pickle (#3)
  README.md
  Taskfile.yml
  assets/coverage.svg
  assets/nearness.png
  poetry.lock
  pyproject.toml
  src/nearness/__init__.py
  src/nearness/_annoy.py
  src/nearness/_autofaiss.py
  src/nearness/_base/__init__.py
  src/nearness/_base/_config.py
  src/nearness/_base/_experimental.py
  src/nearness/_base/_neighbors.py
  src/nearness/_config.py
  src/nearness/_faiss.py
  src/nearness/_hnsw.py
  src/nearness/_scann.py
  tests/test_benchmark.py
  tests/test_nearness.py
Due: ruff, black

fix line endings
  .github/CODE_OF_CONDUCT.md
  .github/release-drafter.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/setup.yml
  .gitignore
  env.yml
  src/nearness/_base/_config.py
Due: ruff, black

:wrench: fix line endings and formatting (#4)
  .github/CODE_OF_CONDUCT.md
  .github/release-drafter.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/setup.yml
  .gitignore
  README.md
  env.yml
  poetry.lock
  pyproject.toml
  src/nearness/__init__.py
  src/nearness/_annoy.py
  src/nearness/_base/_config.py
  src/nearness/_base/_neighbors.py
  src/nearness/_faiss.py
  src/nearness/_jax.py
  src/nearness/_sklearn.py
  src/nearness/_torch.py
  tests/test_benchmark.py
  tests/test_nearness.py
Due: ruff, black

:wrench: simplify pre-commit and upgrade test deps
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  Taskfile.yml
  poetry.lock
  pyproject.toml
Due: none

:art: Simplify faiss, remove sampling support
  src/nearness/_faiss.py
Due: ruff, black

:white_check_mark: Improve the existing tests
  assets/coverage.svg
  src/nearness/_base/_neighbors.py
  tests/test_benchmark.py
  tests/test_nearness.py
  tests/utilities.py
Due: ruff, black

:wrench: Simplify pre-commit and upgrade test deps (#7)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  Taskfile.yml
  poetry.lock
  pyproject.toml
Due: none

:art: Simplify faiss, remove sampling support (#8)
  src/nearness/_faiss.py
Due: ruff, black

:white_check_mark: Improve the existing tests (#9)
  assets/coverage.svg
  src/nearness/_base/_neighbors.py
  tests/test_benchmark.py
  tests/test_nearness.py
  tests/utilities.py
Due: ruff, black

:bug: Fix initialization of fitted attribute
  .github/workflows/check.yml
  .github/workflows/setup.yml
  pyproject.toml
  src/nearness/_annoy.py
  src/nearness/_base/_neighbors.py
  tests/test_nearness.py
Due: ruff, black

:white_check_mark: automated change [skip ci]
  assets/coverage.svg
Due: none

:bug: Fix initialization of fitted attribute (#10)
  .github/workflows/check.yml
  .github/workflows/setup.yml
  assets/coverage.svg
  pyproject.toml
  src/nearness/_annoy.py
  src/nearness/_base/_neighbors.py
  tests/test_nearness.py
Due: ruff, black

:arrow_up: Bump safecheck and dev dependencies
  poetry.lock
  pyproject.toml
  src/nearness/_autofaiss.py
  src/nearness/_base/_neighbors.py
  src/nearness/_faiss.py
  src/nearness/_scipy.py
Due: ruff, black

:arrow_up: Bump safecheck and dev dependencies (#11)
  poetry.lock
  pyproject.toml
  src/nearness/_autofaiss.py
  src/nearness/_base/_neighbors.py
  src/nearness/_faiss.py
  src/nearness/_scipy.py
Due: ruff, black

:arrow_up: Update all dependencies
  .github/CONTRIBUTING.md
  .github/workflows/check.yml
  .pre-commit-config.yaml
  Taskfile.yml
  assets/coverage.svg
  poetry.lock
  pyproject.toml
  src/nearness/_base/_experimental.py
  src/nearness/_base/_neighbors.py
Due: ruff, black

:white_check_mark: Fix flaky usearch test
  tests/test_nearness.py
Due: black

:white_check_mark: Fix failing tests, disable macos
  .github/workflows/check.yml
  assets/coverage.svg
  src/nearness/_base/_helpers.py
Due: ruff, black

:arrow_up: Update all dependencies
  .github/CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

:speech_balloon: Minor text fixes
  .github/CONTRIBUTING.md
  src/nearness/_base/_helpers.py
Due: ruff, black

:memo: Add docstrings to all algorithm init methods
  src/nearness/_annoy.py
  src/nearness/_autofaiss.py
  src/nearness/_base/_neighbors.py
  src/nearness/_faiss.py
  src/nearness/_hnsw.py
  src/nearness/_jax.py
  src/nearness/_numpy.py
  src/nearness/_scann.py
  src/nearness/_scipy.py
  src/nearness/_sklearn.py
  src/nearness/_torch.py
  src/nearness/_usearch.py
Due: ruff, black

:white_check_mark: Add autofaiss save and load test
  src/nearness/_autofaiss.py
  tests/test_nearness.py
Due: ruff, black

:bulb: Minor comment improvements
  src/nearness/_faiss.py
  src/nearness/_hnsw.py
  src/nearness/_jax.py
  src/nearness/_numpy.py
  src/nearness/_scann.py
  src/nearness/_scipy.py
  src/nearness/_sklearn.py
  src/nearness/_torch.py
  src/nearness/_usearch.py
Due: ruff, black

:memo: Add algorithm documentation to README
  README.md
Due: none

:arrow_up: Upgrade and update dependencies
  assets/coverage.svg
  poetry.lock
  pyproject.toml
Due: none

📝 Document algorithm parameters (#13)
  .github/CONTRIBUTING.md
  README.md
  assets/coverage.svg
  poetry.lock
  pyproject.toml
  src/nearness/_annoy.py
  src/nearness/_autofaiss.py
  src/nearness/_base/_helpers.py
  src/nearness/_base/_neighbors.py
  src/nearness/_faiss.py
  src/nearness/_hnsw.py
  src/nearness/_jax.py
  src/nearness/_numpy.py
  src/nearness/_scann.py
  src/nearness/_scipy.py
  src/nearness/_sklearn.py
  src/nearness/_torch.py
  src/nearness/_usearch.py
  tests/test_nearness.py
Due: ruff, black

:arrow_up: Upgrade and update dependencies
  Taskfile.yml
  poetry.lock
  pyproject.toml
Due: none

🎨 Factor out helper methods from class definition
  src/nearness/_base/_neighbors.py
Due: ruff, black

🐛 Fix isinstance checks for safecheck update
  src/nearness/_jax.py
  src/nearness/_torch.py
Due: ruff, black

🐛 Fix super hideous state bug on getstate
  pyproject.toml
  src/nearness/_base/_neighbors.py
  tests/test_nearness.py
Due: ruff, black

⬆️ Minor dependency updates
  poetry.lock
Due: none

🎨 Apply formatting changes
  src/nearness/_jax.py
  src/nearness/_scann.py
  src/nearness/_torch.py
Due: ruff, black

✅ Fix failing save-load test
  Taskfile.yml
  tests/test_nearness.py
Due: black

:bug: Undo removal of type ignore for linux
  src/nearness/_scann.py
Due: ruff, black

📝 Update to v0.2.2
  pyproject.toml
Due: none
